/* Eden of Things UI CSS */
@font-face{
font-family: NotoSans;
src: url(fonts/OpenSans-CondLight.ttf);
}
body
{
    color: white;
    font-family: NotoSans;
    background-color: black;
    width: 1280px;
    height: 720px;
    font: 12px;
}

div.screen
{
	position: absolute;
	top:0;
	left:0;
	width:1280px;
	height:720px;
	
}



div.half_screen
{
	position: absolute;
	top:0;
	width:638px;
	height:720px;
	
}

div#screen1_left
{
	background-image: url(images/eden-tropical.jpg);
	left:0;
	border-right: 4px solid black;
	
}

div#screen1_right
{
	background-image: url(images/eden-med.jpg);
	right:0;
	
}

div.location
{	
	margin-top:40px; 
	margin-left:40px; 
	width:560px;
	height:120px;
	background-color:black;
	opacity: 0.7;
	border-radius: 16px;
	position:relative;

}

div.location_title
{
	position: absolute;
	top:36px;
	left:20px;
	font-size:40px; 
	
}


div.reading
{	
	position:relative;
	float:right;
	padding-top:20px;
	padding-right:15px;
	top:16px;
	font-size:40px;
	height:68px;
	width:100px;
	border: 1px solid white;
	text-align:right;
	border-radius: 5px;
	margin-right:10px;
	
}





div.icon
{
	position: absolute;
	background-repeat:no-repeat;
	height:56px;
	width:42px;
	top:16px;
	left:5px;
}

div.humid_icon
{
	background-image:url(icons/humidity.png);
}

div.temp_icon
{
	background-image:url(icons/temp.png);
}

div.day_icon
{
	background-image:url(icons/light.png);
}


	





